.bg-main-content{
    height: 100vh; 
    background: linear-gradient(to bottom, #3CB5DB, #0988AF);
}
.bg-user-form{
    background-color: white;
    border-radius: 1em;
    height: 33em;
    width: 50em;
}
.container{
    background: linear-gradient(#06DACC, #00AACE);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container-center{
    background: #FFFFFF;
    width: 80%;
    height: 80%;
    border-radius: 40px;
}

#picture_input{
    display: none;
}

.picture{
    width: 400px;
    background:#eee;
}