.bg-main-content {
    height: 100vh; 
    background: linear-gradient(to bottom, #3CB5DB, #0988AF);
}
.bg-user-form {
    background-color: white;
    border-radius: 1em;
    height: 33em;
    width: 50em;
}
#current-step-user-counter {
    color: #000;
    text-align: center;
    font-weight: thin;
    font-size: 1.6em;
}

.rect-user {
    background-color: var(--color-register-step-current);
    height: 0.5em;
    width: 5em;
    margin: 0 2em;
}

.rect-user-active {
    background-color: var(--color-register-step-selected);
}

.form-container {
    height: 85%;
    width: 100%;

}

.parent-container-input-form {
    width: 95%;
    height: 85%;
}

.parent-container-input-form p {
    font-size: 1em;
    font-weight: thin;
}

form input {
    color: var(--cortextobtn);
    width: 100%;
    border-radius: 0.5em;
    border: 0;
    padding: 1em;
    margin-bottom: 0.5em;
    background: var(--color-bg-input-register);
}

form input::placeholder {
    color: var(--cortextobtn);
}

form p {
    margin-bottom: -1px;
}

.grid .row {
    height: 1em;
    width: 1em;
    background-color: black;
}

.contain2 {
    display: flex;
    justify-content:space-between;
}

.contain2 input{
    width: 22em;
}

.next_button_in {
    text-align: center;
    color: #000;
    background-color: var(--corbnt);
    border: none;
    border-radius: 5em;
    width: 8em;
    height: 3em;
}

.next_button_out {
    text-align: center;
    background-color: var(--corbnt);
    color: #fff;
    border: none;
    border-radius: 5em;
    width: 8em;
    height: 3em;
    font-weight: bolder;
}

#user_description {
    height: 5em;
    color: var(--cortextobtn);
    border-radius: 1em;
    border: none;
    background-color: var(--color-bg-input-register);
}

#others_btn_input_user {
    height: 1em;
}

.roleUserSelect {
    height: 6em;
}

.radioButtonWidth {
    margin: 10px 0;
    width: 80%;
}

.radioButtonWidth label {
    text-align: center;
    margin: auto 0;
}

input[type="radio"] {
    width: 3em;
    height: 3em;
}

.roleUserSelect input {
    border: none;
}

.btnRadioUserSelect {
    background-color: red;
}