@import url(padroes.css);

.title-notific-err {
    background-color: red;
    width: 100%;
    color: #fff;
    height: 3em;
}

.err-notific {
    display: none;
    width: 20em;
    position: absolute;
    border-radius: 2em;
}

.err-content-notific {
    border: 1px solid #000;
    width: inherit;
    background-color: #fff;
}

.err-content-notific p {
    margin-top: 0.5em;
    text-align: center;
    height: inherit;
    overflow-wrap: break-word;
    inline-size: 15em;
}

.err-notific img {
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
}

.bg-main-content {
    height: 100vh; 
    background: linear-gradient(to bottom, #3CB5DB, #0988AF);
}
.bg-user-form {
    background-color: white;
    border-radius: 1em;
    height: 33em;
    width: 50em;
}
#current-step-user-counter {
    color: #000;
    text-align: center;
    font-weight: thin;
    font-size: 1.6em;
}

.rect-user {
    background-color: var(--color-register-step-current);
    height: 0.5em;
    width: 5em;
    margin: 0 2em;
}

.rect-user-active {
    background-color: var(--color-register-step-selected);
}

.form-container {
    height: 85%;
    width: 100%;
    display: none !important;
}

.form-container.disabled {
    display: none !important;
}

.form-container.active {
    display: flex !important;
}

.parent-container-input-form {
    width: 95%;
    height: 85%;
}

.parent-container-input-form p {
    font-size: 1em;
    font-weight: thin;
}

form input {
    color: var(--cortextobtn);
    width: 100%;
    border-radius: 0.5em;
    border: 0;
    padding: 1em;
    margin-bottom: 0.5em;
    background: var(--color-bg-input-register);
}

form input::placeholder {
    color: var(--cortextobtn);
}

form p {
    margin-bottom: -1px;
}

.grid .row {
    height: 1em;
    width: 1em;
    background-color: black;
}

.contain2 {
    display: flex;
    justify-content:space-between;
}

.contain2 input{
    width: 22em;
}

.next_button_in {
    text-align: center;
    color: #fff;
    background-color: var(--corbnt);
    border: none;
    border-radius: 5em;
    width: 8em;
    height: 3em;
}

.next_button_out {
    text-align: center;
    background-color: var(--corbnt);
    color: #fff;
    border: none;
    border-radius: 5em;
    width: 8em;
    height: 3em;
    font-weight: bolder;
}

#user_description {
    height: 5em;
    color: var(--cortextobtn);
    border-radius: 1em;
    border: none;
    background-color: var(--color-bg-input-register);
}

#others_btn_input_user {
    height: 1em;
}

.roleUserSelect {
    height: 6em;
}

.radioButtonWidth {
    margin: 10px 0;
    width: 80%;
}

.radioButtonWidth label {
    text-align: center;
    margin: auto 0;
}

input[type="radio"] {
    width: 3em;
    height: 3em;
}

.roleUserSelect input {
    border: none;
}

.btnRadioUserSelect {
    background-color: red;
}

.input-box-passw {
    display: flex;
    width: 22em;
    align-items: center;
    margin: auto;
    background-color: var(--color-bg-input-register);
}

.input-box-passw svg {
    cursor: pointer;
}

.margin-fix {
    margin-top: 0.6em;
}

#user_passw_confirm, #user_passw {
    outline: none;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background-color: var(--color-bg-input-register);
    border: none;
}

#formStep1_item, #formStep2_item {
    opacity: 1;
    margin-left: 0em;
}
/*form input {
    color: var(--cortextobtn);
    width: 100%;
    border-radius: 0.5em;
    border: 0;
    padding: 1em;
    margin-bottom: 0.5em;
    background: var(--color-bg-input-register);
}*/